/*FONT links start by DWN*/

@font-face{
	font-family: WorkSans-VariableFont_wght;
	src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
} 
@font-face{
	/* font-family: Dosis-VariableFont_wght; */
	src: url(../fonts/Dosis/Dosis-VariableFont_wght.ttf);
}

/* COMMON STYLES */

*{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: WorkSans-VariableFont_wght;
	/* font-size: 16px; */
	/* font-weight: 400; */
	/* color: ; */
}
.btn-primary{
	font-size: 1.25rem;
	font-weight: 600;
	padding: 20px 24px;
	border-radius: 8px;
	color: #fff;
	background: #ff900e;
	cursor: pointer;
	border: 0;
}


/* HEADER STYLES */

header{
	background: rgba(255, 144, 14, 0.10);
	padding: 50px 240px;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-title{
	font-size: 2.8rem;
	font-weight: 700;
	color: #131313;
}
nav > ul{
	display: flex;
}
nav li{
	list-style: none;
	margin-right: 30px;
	font-weight: 500;
	font-size: 1rem;
}
nav li a{
	text-decoration: none;
	color: #424242;
}

/* BANNER STYLES */

.banner-content{
	width: 69%;
	text-align: center;
	margin: 0 auto;
}
.banner-title{
	font-size: 4rem;
	font-weight: 700;
	color: #131313;
}
.banner-description{
	/* font-size: 4rem; */
	color: #727272;
}
.banner img{
	width: 100%;
	margin-top: 20px;
}

/* MAIN STYLES */
main{
	/* display: none; */
	max-width: 75%;
	margin: 0 auto;
}


.teams-container{
	display: flex;
	align-items: center;
}
.teams-img-container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}
.teams-content{
	padding-left: 70px;
	padding-right: 70px;
}
.teams-title{
	font-size: 2.8rem;
}
.teams-title .quick-list{
	color: #727272;
	font-weight: 500;
}
.teams-title .text-features{
	color: #ff900e;
	font-weight: 700;
}

/* RESPONSIVE STYLES */

/* MOBILE DEVICES */
@media only screen and (max-width: 576.99px) {
	header{
		padding: 20px;
	}
	nav{
		flex-direction: column;
	}
	nav > ul{}
	nav li{
		margin-right: 20px;
	}
	.banner-title{
		font-size: 3.5rem;
	}
	.banner-content{
		width: 100%;
	}
	
}

/* TABLET AND MEDIUM DEVICES */
@media only screen and (min-width: 577px) and (max-width: 960PX){
	header{
		padding: 50px;
	}
	nav{
		flex-direction: column;
	}
	
}

